body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F1ED;
    color: #808080;
}
